body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

figcaption {
  text-align: center;
  margin: 10px;
  font-weight: bold;
}

footer {
  display: inline-block;
  width: 400px;
}

.search-section {
  text-align: center;
}

.cards-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: flex-start;
}

.btn-like {
  display: block;
  font-size: 20px;
}

#app {
  background-color: #dfe8f7;
}

.app-title{
  text-align: center;
  font-weight: bold;
}

.app-sub-title{
  text-align: center;
}

.img-aopd{
  width: 400px;
  height: 400px;
}
